* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: 'Calibri';
}

body {
    margin: 0% 20% 0% 20%;
}

input,
textarea {
    border: 1px solid black;
    margin: 2px;
    padding: 2px;
}

button {
    border: 1px solid black;
    margin: 2px;
    padding: 2px;
}

.loggedOut {
    display: none;
}